@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Input field */
  .inputfield {
    @apply pl-12 p-3 text-xl text-gray-900 rounded-full bg-white shadow-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 w-full transition-all duration-300 ease-in-out;

    /* Dark mode styling */
    @apply dark:bg-gray-800 dark:border-gray-600 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-400;
  }

  /* Submit button */
  .submitbutton {
    @apply flex items-center justify-center gap-2 p-3 text-xl rounded-full bg-white shadow-lg border border-gray-300 
    focus:ring-2 focus:ring-blue-500 w-full 
    hover:scale-110 hover:shadow-xl;

    /* Dark mode styling */
    @apply dark:bg-gray-800 dark:border-gray-600 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-400;
  }

  /* Text box */
  .textbox {
    @apply p-6 text-xl rounded-xl bg-white backdrop-blur-sm shadow-lg border border-gray-300 overflow-y-auto ;

    /* Dark mode styling */
    @apply dark:bg-gray-800 dark:border-gray-600 dark:text-white dark:backdrop-blur-sm dark:shadow-xl;
  }
  
  .circlebutton {
    @apply flex items-center justify-center gap-1 p-2 text-xl rounded-full 
                bg-white border border-gray-300 shadow-lg 
                dark:bg-gray-800 dark:border-gray-600 dark:text-white 
                focus:ring-2 focus:ring-blue-500 transition-all duration-300 ease-in-out 
                hover:scale-110 hover:shadow-xl dark:hover:bg-gray-700
  }

  .defaulttext {
    @apply text-gray-900 dark:text-white
  }
}
